
@{
    ViewBag.Title = "Debug123";
}

<h2>Debug123</h2>

<ul>
    <li>Controller Name: @ViewContext.RouteData.Values["controller"]</li>
    <li>Action Name: @ViewContext.RouteData.Values["action"]</li>
</ul>

